* {
  box-sizing: border-box;
}

@keyframes first-wave {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
}

@keyframes second-wave {
  0% {
    visibility: hidden;
  }
  45% {
    visibility: hidden;
  }
  46% {
    visibility: visible;
  }
}

@keyframes third-wave {
  0% {
    visibility: hidden;
  }
  70% {
    visibility: hidden;
  }
  71% {
    visibility: visible;
  }
}

body {
  margin: 0;
}

.main {
  color: white;
  background-image: url(./data/bg2.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  height: 50px;
  background-color: black;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: right;
  padding-right: 20px;
}

.logout-button {
  height: 30px;
  background-color: #f5b078;
}

.logout-button:hover {
  cursor: pointer;
  box-shadow: inset 2px 2px 10px -2px black;
}

.login-form {
  background-color: #302f2f;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  padding: 20px 20px 35px;
  margin: 0 auto;
}

.button:disabled {
  background-color: #f5b078;
}

.button {
  margin: 15px auto 0;
  width: 150px;
  height: 30px;
  background-color: #f59378;
  border: none;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  box-shadow:
    0 0 0 3px #302f2f,
    0 0 0 4px #f59378;
}
.login-form__label {
  margin-top: 15px;
  font-weight: 700;
}

.login-form__input {
  background-color: #1d1c1c;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  color: #909090;
}

.login-form__input:not(:placeholder-shown):invalid {
  border: 1px solid #f8185a;
}

.login-form__message {
  color: #f8185a;
  margin-top: 5px;
}

.start-page {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.start-page__title {
  color: #f5b078;
}

.start-page__greeting {
  font-size: 20px;
  font-style: italic;
}

.game__field {
  height: 525px;
  margin-bottom: 10px;
}

.game__field,
.game__words {
  background-color: #cfcdcd;
  width: 720px;
  position: relative;
}

.game__words {
  text-align: center;
}

.game__words__item {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: 0.2s;
  height: inherit;
  margin-right: 1px;
  div {
    height: 100%;
  }
  div:first-child {
    mask-image: radial-gradient(circle at left, transparent 10px, black 10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div:nth-child(2) {
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    mask-image: radial-gradient(circle at left, black 10px, transparent 10px);
  }
}

.game__words__item:last-child {
  margin-right: 0;
}

.game__words__row,
.game__field__row {
  display: inline-block;
}

.game__field__row {
  margin-bottom: 2px;
}

.incorrect {
  border-color: #fc0054;
}

.hidden {
  display: none;
}

.hints__text-hint {
  text-align: center;
}

#wave1,
#wave2,
#wave3 {
  visibility: hidden;
}

.animated {
  svg {
    #wave1 {
      animation: first-wave linear 1.5s infinite;
    }
    #wave2 {
      animation: second-wave linear 1.5s infinite;
    }
    #wave3 {
      animation: third-wave linear 1.5s infinite;
    }
  }
}

.solid {
  margin: 0;
  span {
    visibility: hidden;
  }
}

.results__image {
  width: 150px;
}
